.*
*~
build
release-build
Doxyfile
*.patch
*.rej
*.orig
*.c
*.cpp
*.py
*.java
*.out
*.test
testfiles
u
*ttyrecord

# CMake
CMakeLists.txt.user
CMakeLists.txt.user.*
Debug

#QtCreator
qtcreator-build

#ctags
tags
types_c.taghl
