language: python
python:
  - 2.6
  - 2.7
  - pypy
  - 3.2
  - 3.3
  - 3.4
  - nightly
  - pypy3
matrix:
  allow_failures:
    - python: 2.6
    - python: 2.7
    - python: pypy
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install coveralls
  - pip install codacy-coverage
script:
  - nosetests
  - make install
after_script:
  - yes | pip uninstall universal
  - pip install universal
after_success:
  - make coverage
  - python-codacy-coverage -r coverage.xml
  - coveralls
